/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
  margin-top: 1.25rem;
}

.newsletter{
  text-align: right;

}

.heading {
	font-size: 1.25rem;
}

fieldset {
	border: none;
}

.album , .fav_song{
	display: block;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	margin-right: 0px;	
	text-align: left;
}

.album {
	margin-top: 1.5rem;
}

form p {
	text-align: left;
	font-size: 1rem;
	margin-bottom: 1.5rem;
}

form label {
		font-size: .9rem;	
	}

.second {
	margin-top: 16px;
	margin-bottom: 16px;
}

select {
	margin-bottom: 1rem;
}

.third {
	margin-bottom: 16px;
}

button {
	margin-top: 16px;
}

#legend_two {
	margin-bottom: 1.5rem;
	text-align: center;
	font-weight: bold;
	font-size: 1.25rem;
}

#legend_one {
	text-align: center;
	font-weight: bold;
	font-size: 1.25rem;
}

input[type="text"], 
input[type="email"],
select {
	background-color: #adabaa;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px; 
	font-size: .9rem;
	border-radius: 5px;
	border: 1px solid #24b324;
	color: #05381a;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}

input[type="radio"] {
    background-color: #adabaa;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    width: 15px;
}

input[type="radio"]:after {
    border-radius: 25px;
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}

input[type="radio"]:checked:after {
    background-color: #0e5e05;
}

textarea {
	background-color: #adabaa;	
	padding-left: 15px; 
	font-size: .9rem;
	border-radius: 5px;
	border: 1px solid #24b324;
	color: #05381a;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 75px;
}

input:focus, textarea:focus, select:focus , button:focus {
	border: 3px solid #f5bf29;
	outline: none;  
}

button {
	font-size: .9rem;
	font-weight: bold;
	width: 100%;
	color: #05381a;
	background-color: #adabaa;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	border: 2px solid #24b324;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

#register, #email_input, #name_input, #select_input {
	display: none;
}

@media screen and (min-width: 768px) {
	
	.heading {
		font-size: 1.9rem;
	}
	
	#legend_one, #legend_two {
		font-size: 1.75rem;
	}
	
	form p {
		font-size: 1.25rem;
	}
	
	form label {
		font-size: 1.25rem;	
	}
	
	.newsletter label {
		margin-right: 1rem;
	}
	
	.radio_labels {
		margin-right: 1.15rem;
	}
	
	input[type="radio"] {
		margin-right: .75rem;
	}
	
	textarea {
		height: 150px;
	}
	
	input[type="text"], 
	input[type="email"],
	select,
	textarea {
		font-size: 1.25rem;	
	}
	
	button {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 1.25rem;
		border: 4px solid #24b324;
	}
	
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
	form {
		margin-left: 2rem;
	}
}
