/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;

}

.album , .fav_song{
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
