/* Tour page styles */

pre {
  font-family: 'Open Sans', sans-serif;
}

.heading{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}

caption {
	padding-bottom: 2.5rem;
}

table {
    border-collapse: collapse;
	margin: 0 auto;
}

table, th, td {
    border: 1.75px solid #fadb28;
}

th {
	text-align: center;
	color: #e35f6c;
}

